* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    gap: 50px;
}

main {
    display: flex;
    flex-direction: column;

    width: 50vw;
    height: 40vh;
    gap: 20px;
}

.btn-voltar {
    padding-left: 20px;
}